<header>
  <mat-toolbar color="navbar" class="navbar">
    <img src="assets/images/logo.png" width="50"  class="logo">
    <button mat-button  color="white-button"  routerLink="/">Home</button>
    <button mat-button  color="white-button" routerLink="/tickets">Online tickets</button>
    <div class="right">
      <button mat-button  color="white-button" routerLink="/register">Register</button>
    </div>
  </mat-toolbar>
  <div class="banner">
    <div class="banner-image"></div>
    <div class="banner-text">
      <h1>Welcome to the Batman Museum!</h1>
      <p>Explore the history and legacy of the Dark Knight in our world-class exhibits.</p>
      <button mat-button color="white-button-border"  routerLink="/login">Login</button>
    </div>
  </div>
</header>
