<div class="main">
    <form #form="ngForm" autocomplete="on" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <a mat-button  color="white-button" class="homebutton" [routerLink]="['/']">Home</a>
        <img src="assets/images/logo.png" width="70">
        
        <h1>Create Account</h1>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text"/>
            <mat-error *ngIf="email?.errors?.['required']">Type in your <b>e-mail</b> address</mat-error>
    <mat-error *ngIf="email?.errors?.['email']">Invalid <b>e-mail</b> address</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password"
              type="password"
            />
            <mat-error *ngIf="password?.errors?.['required']"
      >Type in your <b>password</b>
        </mat-error>
    <mat-error *ngIf="password?.errors?.['minlength']"
      >The password must be at least 6 characters long.
    </mat-error>

          </mat-form-field>
        
          <div class="center margin-top">
            <button mat-button color="white-button-border" [disabled]="(password?.errors?.['minlength'] || password?.errors?.['required'] || email?.errors?.['required'] || email?.errors?.['email'])">Sign up</button>
          </div>
          <p>Do you have an account?  <a [routerLink]="['/login']">Sign in</a> </p>
    </form>
    
</div>