<div mat-dialog-content>
    <mat-card>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cost</mat-label>
            <input matInput [(ngModel)]="cost" type="number" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="description" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Gif URL</mat-label>
            <input matInput [(ngModel)]="gifUrl" required>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button  [mat-dialog-close]="true" color="primary" (click)="create()" [disabled]="
            cost === undefined || cost === null || name.length === 0 ||  cost <= 0 || gifUrl.length === 0 || description.length === 0
            ">Create</button>
        </mat-card-actions>
      </mat-card>
</div> 